{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Content -->

	<section>
		<header class="main">
			<h1>{{ post.title }}</h1>
		</header>

		<span class="image main"><img src="{{ post.get_image }}" style="width: 500px; height: 500px;" alt="" /></span>

		<p>Posted: {{ post.created }}</p>
		<p>Author: {{ post.user.username }}</p>

		<hr class="major" />
			{% for image in images %}
			<img src="{{ image }}" style="width: 500px; height: 500px;" class="img-thumbnail" alt="...">
			{% endfor %}

		<h2>{{ post.description|truncatewords:15 }}</h2>
		<p>{{ post.description}}</p>
		<a href="{% url 'update-post' recipe.id %}"><i class="fas fa-edit"></i></a>
		<a href="{% url 'delete-post' recipe.id %}"><i class="fas fa-trash-alt"></i></a>



	</section>

{% endblock %}